/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fcfcfc;
  margin: 10% auto;
  position: relative;
  border: 1px solid #888;
  border-radius: 5px;
  max-width: 290px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

@media (min-width: 680px) {
  .modal-content {
    max-width: 400px;
  }
}

.modal-sections {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #f5f5f5;
  color: #4c4c4c;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-header img {
  width: 80px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 16px 2px;
}

.modal-header h2 {
  margin: 0px 16px 16px;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body p {
  margin: 8px 2px;
  text-align: center;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #f5f5f5;
  color: #4c4c4c;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* The Close Button */
.m-close {
  color: #4c4c4c;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  
}

.m-close:hover,
.m-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Previous and Next Buttons */
.m-prev,
.m-next {
  display: none;
  color: #4c4c4c;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  padding: 7px 18px;
  background-color: #f5f5f5;
  border-radius: 50%;
  position: absolute;
  top: 170px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.m-prev {
  left: -60px;
}

.m-next {
  right: -60px;
}

.m-prev:hover,
.m-next:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}